.card {
    border: 1px solid white;
    border-radius: 8px;
    padding: 16px;
    margin: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f2f5f7;
    flex: 2;
    width:340px;
    height:270px; /* Adjust to ensure 3 cards per row with margin */
    box-sizing: border-box;
    cursor: pointer;
    overflow: hidden;
  }
 
  
  .card-header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
  }
  
  .card-title {
    margin: 0;
    font-size: 22px; /* Adjust font size as needed */
    color: #333;
    font-weight: bold; /* Make sure text is visible */
    font-family: 'Merriweather', serif;
  }

  .imageContainer img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  